@font-face {
  font-family: "MS Sans";
  src: url("../fonts/ms-sans-serif.ttf");
  font-size: 12px;
}

body {
  font-family: "MS Sans";
  -webkit-font-smoothing: none;
}

#wrapper {
  width: 1024px;
  height: 768px;
  border: 1px solid #ddd; 
  position: relative;
}

#desktop {
  width: 100%;
  height: 100%;
  background: #008080;
}

#taskbar {
  box-sizing: border-box;
  background: #c0c0c0;
  border-top: 2px solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 2px;
  position: relative;
}

@mixin dialog {
  background-color: #c0c0c0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  box-shadow: 1px 1px 0 1px #000, -1px -1px 0 1px #dfdfdf;
}

#start-menu {

  button {
    text-indent: -999px;
    background: url("../img/layout/start_button.png") no-repeat;
    background-size: contain;
    width: 50px;
    height: 18px;
    @include dialog();
  }

  nav {
    display: none;
    height: 300px;
    position: absolute;
    bottom: 28px;
    left: 4px;
    width: 160px;
    background: url("../img/layout/start_menu_banner.png") bottom left no-repeat;
    @include dialog();

    &.open {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    // Pad to clear banner
    > ul {
      padding-left: 21px;
    }

    li {
      color: #000;
      font-size: 12px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      padding: 5px 10px;

      img {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: auto;
        margin-right: 5px;

        + span {
          display: inline-block;
          vertical-align: middle;
        }
      }

      ul {
        display: none;
      }

      &:hover {
        background: #000080;
        color: #fff;
        
        > ul {
          display: block;
        }
      }
    }

    .sub-menu {
      @include dialog();
      position: absolute;
      top: 0;
      left: calc(100% - 4px);
    }
  }
}

.desktop-icon {
  display: inline-block;
  width: 36px;
  margin: 20px;
  position: relative;

  &.react-draggable-dragging {
    z-index: 9999;
  }

  img {
    width: 24px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  span {
    font-size: 12px;
  }
}

.dialog {
  position: absolute;
  display: none;
  width: 500px;
  height: 300px;
  z-index: 999;
  @include dialog();

  &.open {
    display: block;
  }

  &:focus {
    z-index: 9999;
  }
}